In [24]:
from datetime import time
import statistics
import json
from collections import Counter
import os
from os import path
import pandas as pd

In [25]:
def open_json(name):
    with open(name) as file:
        return json.load(file)

In [26]:
artists = [
    'Zaz','Oumou','Kendrick Lamar','P!nk','Muse','The Killers','Eminem','Taylor Swift','Harry Styles','Lara Fabian','Andrea Bocelli','Laurent Garnier'
]

In [27]:
# def sort_answer(artist_count_respond):
#   for artist in sorted(artist_count_respond, key=artist_count_respond.get, reverse=True):
#       print(artist_count_respond[artist], artist)

In [28]:
#QUESTION 1
#init dict respond - real answer. For count same artist in playlist used tmp
def question_1(list_of_playlists):
    artist_count_tmp = dict()
    artist_count_respond = dict.fromkeys(artists, 0)

    for playlist in list_of_playlists:
        # playlist_name = playlist['name']

        for track in playlist['tracks']:
            artist = track['artist_name']
            if artist in artists:
                artist_count_tmp[artist] = 1

        for artist in artist_count_tmp:
            if artist_count_tmp[artist] > 0:
                artist_count_respond[artist] += 1
                artist_count_tmp[artist] = 0

    # print('a. In terms of playlists (give the number of playlist for each artist)')
    the_best_in_terms_of_playlists = max(artist_count_respond, key = artist_count_respond.get)
    max_number = artist_count_respond[the_best_in_terms_of_playlists]
    # print(the_best_in_terms_of_playlists + " is the best in terms of playlists, exists in " + str(max_number) + " playlists \n")


    # for artist in sorted(artist_count_respond, key=artist_count_respond.get, reverse=True):
    #     print(artist_count_respond[artist], artist)

    return artist_count_respond

In [29]:
#QUESTION 2a
# 1 variant - total songs (with copies)
def question_2a(list_of_playlists):
    artist_count_respond = dict.fromkeys(artists, 0)

    for playlist in list_of_playlists:
        for track in playlist['tracks']:
            artist = track['artist_name']
            if artist in artists:
                track_name = track['track_name']
                artist_count_respond[artist] += 1

    # print('b. In terms of tracks (give the number of tracks for each artist - 1 variant with copies:')
    the_best_in_terms_of_tracks = max(artist_count_respond, key = artist_count_respond.get)
    max_number = artist_count_respond[the_best_in_terms_of_tracks]
    # print(the_best_in_terms_of_tracks + " is the best in terms of tracks, found " + str(max_number) + " times \n")

    # for artist in sorted(artist_count_respond, key=artist_count_respond.get, reverse=True):
    #     print(artist_count_respond[artist], artist)
    
    return artist_count_respond

In [30]:
#QUESTION 2b
# 2 variant - total songs without copies
def question_2b(list_of_playlists):
    artist_count_respond = dict.fromkeys(artists, 0)
    artist_count_songs = dict()

    for playlist in list_of_playlists:
        playlist_name = playlist['name']

        for track in playlist['tracks']:
            artist = track['artist_name']

            # check, if artist in list of artists to compare
            if artist in artists:
                track_name = track['track_name']

                # if track (song) wasn't in list before, then add in list[artists]
                if artist in artist_count_songs: 
                    if track_name not in artist_count_songs[artist]:
                        artist_count_songs[artist].append(track_name)
                else:
                    artist_count_songs[artist] = []
                    artist_count_songs[artist].append(track_name)

    # print('b. In terms of tracks (give the number of tracks for each artist - 2 variant without copies')
    for artist in artist_count_songs:
        artist_count_respond[artist] = len(artist_count_songs[artist])

    # artist_count_respond
    # for artist in sorted(artist_count_respond, key=artist_count_respond.get, reverse=True):
    #         print(artist_count_respond[artist], artist)
    
    return artist_count_respond

In [31]:
def format_mlsseconds_to_hh_mm_ss(mlseconds):
    seconds = mlseconds // 60
    
    hours = seconds // (60*60)
    seconds %= (60*60)
    
    minutes = seconds // 60
    seconds %= 60
    
    days = hours // 24

    res_days = res_hours = res_min = res_sec = res_mls = ''
    if days:
        res_days = "{}d : ".format(days)
    if hours:
        res_hours = "{}h : ".format(hours)
        res_min = "{}m : ".format(minutes)
        res_sec = "{}s ".format(seconds)
        
    res = res_days + res_hours + res_min + res_sec
    return res

In [32]:
def formate_output(artist_duration_respond):
  for artist in sorted(artist_duration_respond, key=artist_duration_respond.get, reverse=True):
    if artist_duration_respond[artist]:
        print(format_mlsseconds_to_hh_mm_ss(artist_duration_respond[artist]), '-',artist)
    else:
        print(artist, 'not found')

In [33]:
#QUESTION 3
def question_3(list_of_playlists):
    artist_duration_respond = dict.fromkeys(artists, 0)

    for playlist in list_of_playlists:
        for track in playlist['tracks']:
            artist = track['artist_name']
            track_duration = track['duration_ms']
            if artist in artists:
                artist_duration_respond[artist] += track_duration
    # print('\nIn terms of duration (give the amount of time in proper format for each artist)')
    
    return artist_duration_respond

In [34]:
#import os
#os.chdir("/content/drive/My Drive")
#!ls

In [35]:
def present_answer(res, flag = 0):
  res = dict(sorted(res.items(), key=lambda item: item[1], reverse=True))
  df = pd.DataFrame.from_dict(res, orient='index')
  if flag == 3:
    return format_for_3_question(res)
  else:
    return df

In [36]:
# path = '/Users/bmarid/Documents/bootcamp/bmarid/python/hw1million/'
from google.colab import drive
# if not drive.mount('/content/drive'):
drive.mount('/content/drive')
import os
os.chdir("/content/drive/My Drive")
path = 'Colab Notebooks/spotify_million_playlist_dataset/data/'
part = 'mpd.slice.'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
res_1 = dict()
res_2a = dict()
res_2b = dict()
res_3 = dict()

In [38]:
i = 0
finish = 1000
for i in range(finish):
  number1 = i*1000
  number2 = number1 + 999
  name = path + part + str(number1) + '-' + str(number2) + '.json'
  # print(name)
  data = open_json(name)

  #Get playlists
  list_of_playlists = data['playlists'].copy()

  res = question_1(list_of_playlists)
  res_1 = dict(list(res_1.items()) + list(res.items()))

  res = question_2a(list_of_playlists)
  res_2a = dict(list(res_2a.items()) + list(res.items()))

  res = question_2b(list_of_playlists)
  res_2b = dict(list(res_2b.items()) + list(res.items()))

  res = question_3(list_of_playlists)
  res_3 = dict(list(res_3.items()) + list(res.items()))

In [39]:
print('a. In terms of playlists (give the number of playlist for each artist)')
present_answer(res_1)

a. In terms of playlists (give the number of playlist for each artist)

                   0
Kendrick Lamar   113
Eminem            73
The Killers       40
Taylor Swift      36
P!nk              34
Muse              17
Harry Styles      17
Andrea Bocelli     4
Zaz                1
Oumou              0
Lara Fabian        0
Laurent Garnier    0

In [40]:
print('b. In terms of tracks (give the number of tracks for each artist - 1 variant with copies:')
present_answer(res_2a)

b. In terms of tracks (give the number of tracks for each artist - 1 variant with copies:

                   0
Kendrick Lamar   313
Eminem           176
Taylor Swift      72
The Killers       55
P!nk              43
Harry Styles      38
Muse              27
Andrea Bocelli     4
Zaz                1
Oumou              0
Lara Fabian        0
Laurent Garnier    0

In [41]:
print('b. In terms of tracks (give the number of tracks for each artist - 2 variant without copies')
present_answer(res_2b)

b. In terms of tracks (give the number of tracks for each artist - 2 variant without copies

                  0
Kendrick Lamar   65
Eminem           48
Taylor Swift     38
The Killers      16
P!nk             14
Muse             13
Harry Styles     10
Andrea Bocelli    3
Zaz               1
Oumou             0
Lara Fabian       0
Laurent Garnier   0

In [42]:
print('\nIn terms of duration (give the amount of time in proper format for each artist)')
# present_answer(res_3,3)
formate_output(res_3)

In terms of duration (give the amount of time in proper format for each artist)
15d : 366h : 16m : 17s  - Kendrick Lamar
9d : 238h : 55m : 19s  - Eminem
3d : 76h : 36m : 13s  - Taylor Swift
2d : 61h : 4m : 49s  - The Killers
1d : 45h : 24m : 12s  - Harry Styles
1d : 44h : 30m : 53s  - P!nk
1d : 35h : 18m : 6s  - Muse
4h : 40m : 37s  - Andrea Bocelli
 - Zaz
Oumou not found
Lara Fabian not found
Laurent Garnier not found

### 1. Among the artists we have chosen, which ones are the most featured ?
a. In terms of playlists (give the number of playlist for each artist)

b. In terms of tracks (give the number of tracks for each artist)

c. In terms of duration (give the amount of time in proper format for each artist)