In [385]:
import pandas as pd
import datetime
import numpy

In [386]:
link = 'https://api-data.public-prod.qare.tech/test_data_science/'
data_test = pd.read_json(link)
data_test['consultation_date'] = pd.to_datetime(data_test['consultation_date'])
data_test.head()

,consultation_date,physician_id,patient_id,speciality,cim10
0,2022-04-07 09:20:00,122,0,general-practician,"Grippe, à virus grippal saisonnier identifié"
1,2021-10-01 12:00:00,56,1,general-practician,Sinusite aiguë
2,2022-05-04 20:40:00,89,2,general-practician,Rhinopharyngite aiguë [rhume banal]
3,2022-07-22 21:30:00,129,3,general-practician,Autres cystites
4,2021-01-06 07:10:00,31,4,general-practician,"Grippe, virus non identifié"

In [387]:
data_test.describe()

       physician_id  patient_id
count   5000.000000  5000.00000
mean      78.413200  2345.29340
std       37.901195  1350.22648
min        0.000000     0.00000
25%       56.000000  1182.75000
50%       80.000000  2342.50000
75%      104.000000  3508.25000
max      152.000000  4692.00000

In [388]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   consultation_date  5000 non-null   datetime64[ns]
 1   physician_id       5000 non-null   int64
 2   patient_id         5000 non-null   int64
 3   speciality         5000 non-null   object
 4   cim10              5000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 195.4+ KB

In [389]:
data_test.columns

Index(['consultation_date', 'physician_id', 'patient_id', 'speciality',
       'cim10'],
      dtype='object')

In [390]:
#Only one speciality
data_test[['speciality']].value_counts()

speciality
general-practician    5000
dtype: int64

In [391]:
# Top 5 deseases. For example, 415 people have Gastro-entérite et colite toxiques
data_test[['cim10']].value_counts().head()

cim10
Gastro-entérite et colite toxiques     415
Rhinopharyngite aiguë [rhume banal]    334
COVID-19                               322
Autres cystites                        238
Cystite aiguë                          200
dtype: int64

In [392]:
# Top 5 the best doctors by total number of consultations of all the time
data_test[['physician_id']].value_counts().head()

physician_id
56              926
122             315
89              244
90              240
97              218
dtype: int64

In [393]:
# Top 5 last doctors by total number of consultations of all the time
data_test[['physician_id']].value_counts().tail()

physician_id
39              1
36              1
32              1
125             1
152             1
dtype: int64

In [394]:
# When and how many people were consulted
data_test[['consultation_date']].value_counts()

consultation_date
2022-08-23 13:00:00    3
2022-03-07 10:30:00    3
2022-06-13 20:00:00    3
2022-06-02 07:40:00    3
2022-07-20 10:30:00    3
                      ..
2021-12-20 17:15:00    1
2021-12-20 16:40:00    1
2021-12-20 15:10:00    1
2021-12-20 14:45:00    1
2022-10-02 21:20:00    1
Length: 4809, dtype: int64

In [395]:
# First consultation was on 
data_test[['consultation_date']].min()

consultation_date   2021-01-01 17:30:00
dtype: datetime64[ns]

In [396]:
# Last consultation was on 
data_test[['consultation_date']].max()

consultation_date   2022-10-02 21:20:00
dtype: datetime64[ns]

In [397]:
# All deseases that physician worked on
data_test[['physician_id','cim10']].value_counts()

physician_id  cim10
56            Gastro-entérite et colite toxiques                   135
              Autres cystites                                      102
              Rhinopharyngite aiguë [rhume banal]                   93
42            Gastro-entérite et colite toxiques                    72
56            COVID-19                                              54
                                                                  ...
73            Rash et autres éruptions cutanées non spécifiques      1
              Prostatite aiguë                                       1
              Pharyngite aiguë                                       1
              Nausées et vomissements                                1
152           COVID-19                                               1
Length: 1978, dtype: int64

In [398]:
# Number of consultations for patient
# Top 5 patients by number of consultations
data_test[['patient_id']].value_counts().head()

patient_id
663           4
3364          4
1634          4
1197          3
395           3
dtype: int64

In [399]:
# Top 5 physician buy amount of consultations for 2021-2022 year
data_test[
    (data_test['consultation_date'] > datetime.datetime(2021, 1, 1)) 
    & (data_test['consultation_date'] < datetime.datetime(2022, 1, 1))
][['physician_id']].value_counts().head()

physician_id
56              370
97               91
6                90
42               84
89               72
dtype: int64